@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.sidemenu {
  display: flex;
  position: fixed;
  width: 300px;
  top: 0;
  left: 0;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px #00000040;
  height: 100%;
}

.sidemenu div h1 {
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  font-size: 40px;
  padding: 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.sidemenu svg {
  width: 300px;
  height: 300px;
}

.sidemenu nav p {
  font-size: 20px;
  padding: 15px;
  color: #725C5C;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  border-bottom: 4px solid #E7E7E7;
}

.sidemenu nav svg {
  height: 2px;
}

.sidemenu .trab {
  display: flex;
  border-bottom: 4px solid #E7E7E7;
  background: #FDF1EB;
  padding: 0;
}

.sidemenu .trab svg {
  width: 10px;
  height: 55px;
}

.main {
  margin-left: 300px;
  overflow: hidden;
}

.main header {
  display: flex;
  justify-content: space-between;
  background: #FDF1EB;
  height: 68px;
  align-items: center;
  padding: 15px;
}

.main header .frases {
  width: 60%;
  font-size: 16px;
  margin-left: 40px;
  color: #725C5C;
  font-family: "Roboto", sans-serif;
}

button {
  display: flex;
  align-items: center;
  width: 110px;
  padding: 10px;
  height: 34px;
  text-align: center;
  gap: 5px;
  background: none;
  font-size: 14px;
  border: 1px solid #CCCCCC;
  cursor: pointer;
}


.main header .login {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

.main header .login .image-logo {
  width: 100px;
}

.image-logo svg {
  width: 48px;
  height: 50px;
  border-radius: 30px;
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.container .titulo {
  width: 58%;
  color: #ED7839;
  font-family: "Roboto", sans-serif;
  margin-left: 50px;
  font-size: 20px;
}

.button {
  margin-top: 10px;
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}

.container-button .button button {
  background: #ED7839;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.container-button {
  text-align: center;
  align-items: center;
  margin-right: 70px;
}

.container-button p {
  color: #ED7839;
  font-weight: 500;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.content2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.content2 .imagem {
  border: none;
  width: 1150px;
  height: 650px;
  margin-left: 50px;
  background: url(./42637d3b5568ea4df9235ef41b8fbf5b.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.content2 div {
  border: 1px solid #ECECEC;
  margin-right: 50px;
  width: 400px;
}

.content2 div h3 {
  font-size: 30px;
  background-color: #FDF1EB;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  color: #4E4E4E;
  border: 1px solid #ECECEC;
}

.content2 div p {
  font-family: "Quicksand", sans-serif;
  margin-left: 18px;
  margin-top: 5px;
  color: #5C5C5C;
  font-size: 18px;
}

.content2 .imagem h4 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 900;
  font-size: 27px;
  width: 70%;
  text-align: start;
  margin-left: 100px;
  margin-top: 50px;
}

.content2 .imagem .autora{
  display: flex;
  border: none;
  margin-top: 350px;
  margin-left: 100px;
  align-items: center;
  width: 90%;
  text-align: start;
  gap: 20px;
}

.content2 .imagem .autora .nomes {
  border: none;
  font-size: 60px;
  width: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
}

.autora svg {
  border-radius: 40px;
  border: 2px solid;
}

.resumo {
  border: 1px solid #ECECEC;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.resumo h6 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #4E4E4E;
  background-color: #FDF1EB;
  border: 1px solid #ECECEC;
  border-radius: 3px, 3px, 0px, 0px;
  padding: 10px;
}

.resumo p {
  font-family: "Quicksand", sans-serif;
  padding: 10px;
  font-size: 20px;
  color: #5C5C5C;
}

.resumo strong {
  color: #ED7839;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  background: none;

}

.discussoes {
  border: 1px solid #ECECEC;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}


.discussoes h6 {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    color: #4E4E4E;
    background-color: #FDF1EB;
    border: 1px solid #ECECEC;
    border-radius: 3px, 3px, 0px, 0px;
    padding: 10px;
}

.discussoes p {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 22px;
  padding: 20px;
}

.discussoes .box {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

.discussoes .divisoria{
  margin-top: 20px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNyIgaGVpZ2h0PSIyIiB2aWV3Qm94PSIwIDAgMTAyNyAyIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMCAxSDEwMjciIHN0cm9rZT0iI0U3RTdFNyIvPgo8L3N2Zz4=');
  background-size: 90%;
}

.discussoes .divisoria button {
  padding: 25px;
  width: 210px;
  gap: 10px;
  font-size: 18px;
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  color: white;
  margin: auto;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px #0000003D;
  box-shadow: 0px 0px 2px 0px #0000001F;
  text-align: center;
}

.discussoes form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 20px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: left;
}

.discussoes form label {
  color: #ED7839;
  padding-bottom: 5px;
  margin-top: 5px;
}

.discussoes form input {
  padding: 5px;
  height: 30px;
  margin-bottom: 5px;
}

.discussoes form div {
  background-color: #EAF1F2;
  justify-content: center;
  width: 100%;
}

.discussoes form button {
  background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
  color: white;
  width: 250px;
  padding: 20px;
  justify-content: center;
  margin-left: 85%;
}

.discussoes .agradecimento {
  color: #ED7839;

}

.discussoes .agradecimento button {
  width: 240px;
}

.discussoes .card {
  margin-top: 30px;
  box-shadow: 0px 0px 8px 0px #0000001F;
  border: 1px solid #E7E7E7;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  border-radius: 4px;
}

.discussoes .card p {
  font-size: 18px;
  text-align: start;
  padding: 2px;
}

.discussoes .card .icons {
  display: flex;
  padding: 2px;
  gap: 10px;
  align-items: center;
}



.discussoes .answered-topic {
  margin-top: 30px;
  box-shadow: 0px 0px 8px 0px #0000001F;
  border: 1px solid #E7E7E7;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  border-radius: 4px;
}

.discussoes .answered-topic p {
  font-size: 18px;
  text-align: start;
  padding: 2px;
}

.discussoes .answered-topic .icons {
  display: flex;
  padding: 2px;
  gap: 10px;
  align-items: center;
}

.discussoes .comments-container {
  background-color: #F8F8F8;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  border-radius: 4px;
}

.discussoes .comments-container div {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.card-reply div div {
  align-items: center;
}

.card-reply p {
  text-align: justify;
  color: #4D4D4D;
}

.background {
  position: relative;
  margin-top: 30px;
  box-shadow: 0px 0px 8px 0px #0000001F;
  border: 1px solid #E7E7E7;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  border-radius: 4px;
  background-color: #E7E7E7;
}

.background:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7e7977d7;
  filter: blur(5px);
  z-index:0;
}

.background span{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 10px;
  width: 95%;
  text-align: center;
  font-size: 24px;
}



.card-hidden p {
  font-size: 18px;
  text-align: start;
  padding: 2px;
}

.card-hidden .icons {
  display: flex;
  padding: 2px;
  gap: 10px;
  align-items: center;
}

footer {
  text-align: center;
  width: 100%;  
}