@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.sidemenu {
  display: flex;
  position: fixed;
  width: 300px;
  top: 0;
  left: 0;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px #00000040;
  height: 100%;
}

.sidemenu div h1 {
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  font-size: 40px;
  padding: 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.sidemenu svg {
  width: 300px;
  height: 300px;
}

.sidemenu nav p {
  font-size: 20px;
  padding: 15px;
  color: #725C5C;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  border-bottom: 4px solid #E7E7E7;
}

.sidemenu nav svg {
  height: 2px;
}

.sidemenu .trab {
  display: flex;
  border-bottom: 4px solid #E7E7E7;
  background: #FDF1EB;
  padding: 0;
}

.sidemenu .trab svg {
  width: 10px;
  height: 55px;
}

.main {
  margin-left: 300px;
  overflow: hidden;
}

.main header {
  display: flex;
  justify-content: space-between;
  background: #FDF1EB;
  height: 68px;
  align-items: center;
  padding: 15px;
}

.main header .frases {
  width: 60%;
  font-size: 16px;
  margin-left: 40px;
  color: #725C5C;
  font-family: "Roboto", sans-serif;
}

button {
  display: flex;
  align-items: center;
  width: 110px;
  padding: 10px;
  height: 34px;
  text-align: center;
  gap: 5px;
  background: none;
  font-size: 14px;
  border: 1px solid #CCCCCC;
  cursor: pointer;
}


.main header .login {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

.main header .login .image-logo {
  width: 100px;
}

.image-logo svg {
  width: 48px;
  height: 50px;
  border-radius: 30px;
}

.titulo {
  background-color: red;
}

.titulo div{
  display: flex;
  justify-content: space-between;
}

.titulo div .botoes {
  margin-right: 70px;
  align-items: center;
  gap: 20px;
}

.titulo div .botoes button {
  text-align: center;
}

.titulo h1 {
  color: #ED7839;
  width: 55%;
  margin-left: 50px;
  margin-top: 20px;
}
